
.redCard{
  background: red;
  color:red;
}
.greenCard{
  background: lightgreen;
  color:green;
}
.blueCard{
  background: lightblue;
  color:blue;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
